.my-tab {
    min-height: 500px;
    padding-top: 15px;
}

.my-div {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.forecast-2-table {
    width: 24%;
    float: left;
}
.forecast-2-table th {
    text-align: center;
}

.table td {
    padding: 3px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
}

label {
    margin-bottom: 0;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.active-row {
    background-color:rgba(0,0,0,.2) !important;
}

.team-position {
    border: 1px solid grey;
    display: block;
    width: 60px;
    text-align: center;
}

.team-position.medium {
    background-color: #ffffb3;
}

.team-position.high {
    background-color: #ff9999;
}

.team-position.low {
    background-color: #40bf80;
}

.office-href {
    display: none;
    margin-left: 30px;
}

.make-favorite-game-sign {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.make-favorite-game-sign:hover {
    transform: scale(1.5);
}

.icon-star {
    transform: scale(2);
}

@media (min-width: 1400px) {
    .container {
        max-width: 1330px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}