.my-tab {
    min-height: 500px;
    padding-top: 15px;
}

.my-div {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.forecast-2-table {
    width: 24%;
    float: left;
}
.forecast-2-table th {
    text-align: center;
}

.table td {
    padding: 3px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
}

label {
    margin-bottom: 0;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.active-row {
    background-color:rgba(0,0,0,.2) !important;
}