p {
    margin: 0;
}




.make-favorite-game-sign {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.make-favorite-game-sign:hover {
    transform: scale(1.5);
}

.icon-star {
    transform: scale(2);
}





.forecast4-canvas {
    width: 370px;
    height: 70px;
    margin-bottom: -5px;
}


.next-match-div-one-match {
    background-color: #e9ecef;
    padding: 5px 17px;
    border-radius: 20px;
    margin-top: 40px;
}

.next-match-div{
    background-color: #e9ecef;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

.next-match-div .column {
    width: 20% !important;
}

.bookmaker-stats-table {
    text-align: center !important;
    margin: 0 auto !important;
    max-width: 1000px;
}

.match-forecasts-overall-div {
    margin: 10px 0;
}

.next-match-grid {
    margin: 5px !important;
}

.next-match-grid div {
    text-align: center !important;
}



.bold {
    font-weight: bold;
}

.then-position {
    font-size: 8pt;
}

.row-success {
    background-color: #b1dfbb;
}

.row-danger {
    background-color: #f5c6cb;
}

.row-neutral {
    background-color: #ffe389;
}

.team-matches-table-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team-matches-table-div .checkbox {
    margin-bottom: 3px;
}

.team-matches-table-team-name {
    margin-bottom: 5px;
    text-align: center;
}

.analysis-table-filter-block .column {
    width: 20% !important;
}

.tournament-analysis-table-filter-div {
    align-items: center;
    display: flex;
}

.tournament-analysis-table-filter-div p {
    margin: 0 5px;
}




.rates-analyser {
    padding: 10px;
}

.rates-analyser > div {
    width: 25%;
}

.rates-analyser h6 {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.rates-analyser .bet-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.rates-analyser .summary-line {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.rates-analyser .button-div {
    text-align: center;
}